<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
<!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
  <![endif]-->

  <title>{{=response.title or request.application}} - Imoveis.info</title>

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
	   http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
	  j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
	  device-width: Occupy full width of the screen in its current orientation
	  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	  user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>

  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="{{=URL('static','favicon.ico')}}" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="{{=URL('static','favicon.png')}}"/>

  <!-- All JavaScript at the bottom, except for Modernizr which enables
	   HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{
  response.files.append(URL('static','css/style.css'))
  response.files.append(URL('static','css/bootstrap.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  
  
  if response.menu:
     response.files.append(URL('static','js/superfish.js'))
  pass
  }}

  {{include 'web2py_ajax.html'}}

  {{if response.menu:}}
  <script type="text/javascript">
    //jQuery(function(){ jQuery('ul.sf-menu').supersubs({minWidth:12,maxWidth:30,extraWidth:3}).superfish(); });
  </script>
  {{pass}}

{{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'rt-grid-12',1:'rt-grid-8',2:'rt-grid-6'}[
     (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
}}

</head>

<body class=
"main-overlay-light main-pattern-noise body-background-light footerblock-width-full readonstyle-button font-family-camber font-size-is-default logo-style-dark logo-pattern-canvas menu-type-splitmenu typography-style-light col12 menu-styles option-com-content view-article">
<div id="rt-page-surround">
    <div id="rt-page-surround-inner">
      <div id="rt-top-block" class="topblock-overlay-light">
        <div id="rt-top-surround">
          <div id="rt-drawer">
            <div class="rt-container">
              <div class="clear"></div>
            </div>
          </div>
        </div>

        <div id="rt-navigation" class="topblock-width-full">
          <div class="rt-navigation-top"></div>

          <div class="rt-container">
            <div class="rt-navigation-bar">
              <div class="rt-grid-12 rt-alpha rt-omega">
                <div class="nopill">
                  <div class="rt-block menu-block">
                    <div class="rt-splitmenu">
                      <div class="rt-menubar">
                        <div class="rt-menubar2">
                          <ul class="menutop level1">
                            <li class="item1 parent"><a class="orphan item" href=
                            "/"><span>Home</span></a></li>

                            <li class="item75"><a class="orphan item" href=
                            "/alto-padrao.html"><span>Alto Padrão</span></a></li>
                            
                            <li class="item75"><a class="orphan item" href=
                            "/zona-sul.html"><span>Zona Sul</span></a></li>
                            
                            <li class="item75"><a class="orphan item" href=
                            "/zona-norte.html"><span>Zona Norte</span></a></li>
                            
                            <li class="item75"><a class="orphan item" href=
                            "/zona-oeste.html"><span>Zona Oeste</span></a></li>
                            
                            <li class="item75"><a class="orphan item" href=
                            "/grande-rio.html"><span>Grande Rio</span></a></li>
                            
                            <li class="item75"><a class="orphan item" href=
                            "/outras-localidades.html"><span>Outras Localidades</span></a></li>
                          </ul>
                        </div>
                      </div>

                      <div class="clear"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="clear"></div>
            </div>

            <div id="rt-subnavigation">
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>

      <div id="rt-feature-spacer"></div>

      <div class="rt-container">
        <div style="visibility: visible; opacity: 1;" id="rt-container-bg" class="">
          <div id="rt-header">
            <div class="rt-grid-6 rt-alpha">
              <div class="rt-block logo-block">
                <div class="rt-logo-surround">
                  <a href="http://demo.rockettheme.com/aug11/" id="rt-logo" name=
                  "rt-logo"></a>
                </div>
              </div>
            </div>

            <div class="rt-grid-6 rt-omega">
              <div class="rt-block">
                <div class="module-content">
                  <form action="/aug11/styles" method="post" name="login" id=
                  "form-login">
                    <fieldset class="input">
                      <p id="form-login-username"><input id="modlgn_username" name=
                      "username" class="inputbox" alt="email" size="18" value=
                      "Email" onfocus="if (this.value=='Email') this.value=''"
                      onblur=
                      "if(this.value=='') { this.value='Email'; return false; }" type=
                      "text" /></p>

                      <p id="form-login-password"><input id="modlgn_passwd" name="passwd"
                      class="inputbox" size="18" alt="senha" value="Senha" onfocus=
                      "if (this.value=='Senha') this.value=''" onblur=
                      "if(this.value=='') { this.value='Senha'; return false; }" type=
                      "password" /></p>

                      <div class="clear"></div>

                      <p id="form-login-remember"><input style=
                      "position: absolute; left: -10000px;" name="remember" class=
                      "checkbox" value="yes" alt="Remember Me" type="checkbox" />
                      <label class="remember rokchecks rokremember">Lembrar
                      </label></p>

                      <div class="readon">
                        <input name="Submit" class="button" value="Login" type=
                        "submit" />
                      </div>
                    </fieldset>

                    <ul>
                      <li><a href=
                      "http://demo.rockettheme.com/aug11/component/user/reset">Esqueceu o email?</a></li>

                      <li><a href=
                      "http://demo.rockettheme.com/aug11/component/user/remind">Esqueceu
                      a senha?</a></li>
                    </ul><input name="option" value="com_user" type=
                    "hidden" /><input name="task" value="login" type=
                    "hidden" /><input name="return" value=
                    "L2F1ZzExL3N0eWxlcz9wcmVzZXRzPXByZXNldDE=" type=
                    "hidden" /><input name="95e2b4030b02cb1f25ff42d935b78d38" value="1"
                    type="hidden" />
                  </form>

                  <div class="clear"></div>
                </div>
              </div>
            </div>

            <div class="clear"></div>
          </div>

          <div id="rt-container-content">
            <div id="rt-showcase">
              <div class="rt-grid-12 rt-alpha rt-omega">
                <div class="rt-block">
                    <div class="module-title">

                      <h1 class="title">
                      {{=response.title or request.application}}	
                      </h1>
                      <div class="accent"></div>
                      <div class="clear"></div>

                      <h6 class="breadcrumbs">{{=A('Home',_href=URL('default','index'))}} &rsaquo; {{block breadcrumb}}{{=request.function.replace('_', ' ').title()}}{{end}}</h6>

                    </div>
                    <div class="module-content">
                      {{if response.flash:}}
                        <p class=
                        {{if response.status == 200:}}"approved"
                        {{elif response.status == 409:}}"attention"
                        {{else:}}"alert"
                        {{pass}}
                        >{{=response.flash}}</p>
                        <div class="clear"></div>
                      {{pass}}
                      {{block chapeu}}{{end}}
                    </div>
                </div>
              </div>

              <div class="clear"></div>
            </div>

            <div id="rt-body-surround">
              <div id="rt-main" class="{{if left_sidebar_enabled:}}mb8-sa4{{else:}}mb12{{pass}}">
                <div class="rt-container">
                  <div class="{{=middle_columns}}">
                    <div class="rt-block component-block">
                      <div id="rt-mainbody">
                        <div class="component-content rt-joomla">
                          <div class="rt-joomla">
                            <div class="rt-article">
								{{block center}}
									{{include}}
								{{end}}
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="clear"></div>
                    </div>
                  </div>
				 {{if right_sidebar_enabled:}}
                  <div class="rt-grid-4">
                    <div id="rt-sidebar-a">
					{{block right_sidebar}}
						<p></p>
   					{{end}}
                    </div>
                  </div>

			     {{pass}}
                  <div class="clear"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="rt-bottom">
        <div class="rt-container">
          <div class="rt-grid-6 rt-alpha">
            <div class="rt-block">
             
            </div>
          </div>

          <div class="rt-grid-6 rt-omega">
            <div class="rt-block">
              <div class="module-content">
                <br />
                <br />
                <div class="clear"></div>
              </div>
            </div>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div id="rt-footer-surround" class="footerblock-overlay-light">
      <div id="rt-footer-pattern">
        <div id="rt-footer-overlay">
          <div id="rt-footer">
            <div class="rt-container">
              <div class="rt-section-surround">
                <div class="rt-row-surround">
                  <div class="rt-grid-4 rt-alpha">
                    <div class="rt-block">
                      <div class="module-title">
                        <h2 style="visibility: visible;" class="title"><span>Zona</span>
                        Sul / Zona Oeste</h2>

                        <div class="accent"></div>
                      </div>

                      <div class="module-content">
                        <p>botafogo - jacarepaguá - copacabana - ipanema - barra da tijuca - recreio dos bandeirantes</p><a href=
                        "/zona-sul-zona-oeste.html" class=
                        "readon"><span>Veja mais</span></a>

                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>

                  <div class="rt-grid-4">
                    <div class="rt-block">
                      <div class="module-title">
                        <h2 style="visibility: visible;" class="title">
                        <span>Zona</span> Norte / Grande Rio</h2>

                        <div class="accent"></div>
                      </div>

                      <div class="module-content">
                        <p>tijuca - méier - cachambi - engenho de dentro - penha - madureira - cascadura</p><a href="/zona-norte--grande-rio.html" class="readon"
                        "readon"><span>Veja mais</span></a>

                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>

                  <div class="rt-grid-4 rt-omega">
                    <div class="rt-block">
                      <div class="module-title">
                        <h2 style="visibility: visible;" class="title">
                        <span>Outras</span> Localidades</h2>

                        <div class="accent"></div>
                      </div>

                      <div class="module-content">
                        <p>niterói - região dos lagos - baixada fluminense - costa verde - petrópolis</p><a href="/outras-localidades.html" class=
                        "readon"><span>Veja mais</span></a>

                        <div class="clear"></div>
                      </div>
                    </div>
                  </div>

                  <div class="clear"></div>
                </div>
              </div>

              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
 
      <div id="rt-copyright">
        <div id="rt-copyright2">
          <div class="rt-container">
            <div class="rt-grid-4 rt-alpha">
              <div class="rt-block">
                <span class="copytext">Copyleft &copy; {{=request.now.year}}</span>
              </div>
            </div>

            <div class="rt-grid-4">
              <div class="rt-block totop-block">
                <a style="outline: medium none;" href="#" id="gantry-totop" name=
                "gantry-totop"><span class="totop-desc">Ir para o topo</span></a>
              </div>
            </div>

            <div class="rt-grid-4 rt-omega">
              <div class="rt-block">
                <div id="developed-by">
                </div>
              </div>
            </div>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--[if lt IE 7 ]>
	<script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
	<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
	<![endif]-->
  {{if response.google_analytics_id:}}<script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', '{{=response.google_analytics_id}}']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script> {{pass}}
</body>
</html>
