<script src="/curso/static/js/jquery.js"></script>

<textarea>
Paste the CSS here.
</textarea>

<button class='go'>Go!</button>

<style>
	textarea { width: 100%; display: block; height: 400px;}
</style>

 <script>
 $('button.go').on('click', function() {
	 var rules = $('textarea').val().split('}');
	 var usedRules = '';
	 rules.pop();
	 
	 rules.forEach(function(rule) {
		 rule = rule.split('{');
		 var selector = rule[0].trim();
		 var styles = rule[1].trim();
		 var fullSelector = selector;
		
		 if (selector.indexOf(':') != -1) {
			 selector = selector.split(':')[0];
		 } 
		 
		 if ($(selector).size() > 0) {
			usedRules += fullSelector + ' <br/> { <br/>' + styles + '<br/> } <br/> <br/>';
		 }
	 });
	 
	 console.log('ready');
	 $('body').html(usedRules);
 });
 
 </script>
