#rokbox-wrapper.rokbox-light
{

}

#rokbox-wrapper .clr
{
clear:both;
}

#rokbox-close
{
height:30px; width:20px; display:block; background:url(close.png) 0 0 no-repeat; clear:both;
}

#rokbox-close span
{
display:none;
}

#rokbox-top.rokbox-left
{
background:url(tl.png) 0 0 no-repeat; clear:both;
}

#rokbox-top .rokbox-right
{
background:url(tr.png) 100% 0 no-repeat;
}

#rokbox-top .rokbox-center
{
background:url(top.png) 0 0 repeat-x; height:20px; margin-left:20px; margin-right:20px;
}

#rokbox-middle
{
overflow: hidden;
}

#rokbox-middle.rokbox-left
{
background:url(left.png) 0 0 repeat-y; clear:both;
}

#rokbox-middle .rokbox-right
{
background:url(right.png) 100% 0 repeat-y;
}

#rokbox-middle .rokbox-center
{
background:#fff; margin-left:20px; margin-right:20px;
}

#rokbox-bottom.rokbox-left
{
background:url(bl.png) 0 0 no-repeat;
}

#rokbox-bottom .rokbox-right
{
background:url(br.png) 100% 0 no-repeat;
}

#rokbox-bottom .rokbox-center
{
background:url(bottom.png) 0 0 repeat-x; height:20px; margin-left:20px; margin-right:20px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, caption
{
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; background: transparent;
}

.rt-container
{
margin: 0 auto; width: 960px;
}

body
{
min-width: 960px;
}

.rt-block
{
padding: 15px; margin-bottom: 10px; position: relative;
}

#rt-logo
{
width: 185px; height: 115px; display: block;
}

#yottadigital
{
display: block; width: 92px; height: 16px; margin: 0 auto;
}

#rt-copyright
{
text-align: center;
}

body
{
font-size: 12px; line-height: 1.7em; font-family: Helvetica, Arial, Sans-Serif;
}

body.font-size-is-default
{
font-size: 12px; line-height: 1.7em;
}

form
{
margin: 0; padding: 0;
}

p
{
margin: 0 0 15px 0;
}

h1, h2, h3, h4, h5
{
margin: 15px 0; line-height: 1.1em;
}

h2
{
font-size: 200%;
}

h4
{
font-size: 120%;
}

h2.title
{
font-size: 170%; letter-spacing: -1px; line-height: 1em;
}

a
{
text-decoration: none; outline: none;
}

ul, ol
{
padding-left:15px;
}

ul li
{
padding: 0; margin: 0;
}

ul li a
{
font-size: 1.2em; line-height: 1.8em;
}

html, body
{
margin-bottom: 1px;
}

body
{
color: #333;
}

#rt-header, #rt-bottom
{
color: #aaa;
}

.rt-container
{
background: #fff;
}

a:hover
{
color: #000;
}

#rt-logo
{
background: url(/imoveis/static/images/css/header-assets.png) 0 0 no-repeat;
}

#rt-footer, #rt-copyright
{
color: #ddd;
}

#rt-sidebar-a
{
background-color:#e0e0e0;
}

#yottadigital
{
background: url(/imoveis/static/images/css/yotta-digital.png) 0 0 no-repeat;
}

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear
{
background: none; border: 0; clear: both; display: block; float: none; font-size: 0; list-style: none; margin: 0; padding: 0; overflow: hidden; visibility: hidden; width: 0; height: 0;
}

.rt-grid-1, .rt-grid-2, .rt-grid-3, .rt-grid-4, .rt-grid-5, .rt-grid-6, .rt-grid-7, .rt-grid-8, .rt-grid-9, .rt-grid-10, .rt-grid-11, .rt-grid-12
{
display: inline; float: left; position: relative; margin-left: 10px; margin-right: 10px;
}

.rt-container .rt-grid-1  {
    width: 60px;
}

.rt-container .rt-grid-2  {
    width: 140px;
}

.rt-container .rt-grid-3  {
    width: 220px;
}

.rt-container .rt-grid-4  {
    width: 300px;
}

.rt-container .rt-grid-5  {
    width: 380px;
}

.rt-container .rt-grid-6  {
    width: 460px;
}

.rt-container .rt-grid-7  {
    width: 540px;
}

.rt-container .rt-grid-8  {
    width: 620px;
}

.rt-container .rt-grid-9  {
    width: 700px;
}

.rt-container .rt-grid-10  {
    width: 780px;
}

.rt-container .rt-grid-11  {
    width: 860px;
}

.rt-container .rt-grid-12  {
    width: 940px;
}

.rt-joomla h2, .rt-joomla h3, .rt-joomla h4, .rt-joomla h5
{
letter-spacing: -1px;
}

.rt-joomla .rt-article
{
margin-bottom: 35px;
}

#form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox
{
border: 1px solid #ddd; font-size: 1.2em; padding: 2px; margin: 0;
}

#form-login ul
{
margin-top: 10px;
}

#form-login p
{
margin-bottom: 10px;
}

.col12 .rt-grid-6 #form-login .inputbox
{
width: 424px;
}

.component-content .rt-article
{
margin-bottom: 15px;
}

#form-login ul, #com-form-login ul, ul.rt-more-articles, .rt-section-list ul, ul.mostread, ul.latestnews, .weblinks ul, #rt-popuplogin ul, ul.newsfeed
{
padding: 0;
}

#form-login ul li, #com-form-login ul li, ul.rt-more-articles li, .rt-section-list ul li, ul.mostread li, ul.latestnews li, .weblinks ul li, #rt-popuplogin ul li,ul.newsfeed li
{
list-style: none;
}

#form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a, #rt-popuplogin ul li a,ul.newsfeed li a
{
padding: 4px 0 4px 20px;background-position: 0 7px;background-repeat: no-repeat;display: inline-block;line-height: 120%;font-size: 120%;font-weight: normal;
}

#form-login ul li a:hover, #com-form-login ul li a:hover, ul.rt-more-articles li a:hover, .rt-section-list ul li a:hover, ul.mostread li a:hover, ul.latestnews li a:hover, .weblinks ul li a:hover, #rt-popuplogin ul li a:hover,ul.newsfeed li a:hover
{
background-position: 0 -593px;
}

#form-login .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2
{
width: 160px !important;padding: 5px 4px;outline: none;
}

#form-login ul
{
padding-left: 0;
}

.main-pattern-noise body, .main-pattern-noise #rt-page-surround, .main-pattern-noise #rt-footer-pattern, .pattern1 .rt-block, .logo-pattern-noise #rt-logo
{
background-image: url(/imoveis/static/images/css/noise.png);
}

.main-pattern-canvas body, .main-pattern-canvas #rt-page-surround, .main-pattern-canvas #rt-footer-pattern, .pattern2 .rt-block, .logo-pattern-canvas #rt-logo
{
background-image: url(/imoveis/static/images/css/canvas.png);
}

.topblock-overlay-light #rt-top, .topblock-overlay-light #rt-navigation
{
text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}

.topblock-overlay-light #rt-navigation
{
background: url(/imoveis/static/images/css/navigation-overlay.png) 50% 100% repeat-x;
}

.topblock-overlay-light .rt-navigation-top, .topblock-overlay-light .rt-navigation-bar
{
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.topblock-overlay-light .rt-navigation-bar
{
background-image: url(/imoveis/static/images/css/navigation-bar.png);
}

.topblock-overlay-light .menutop li.root, .topblock-overlay-light .rt-splitmenu .menutop li
{
background-image: url(/imoveis/static/images/css/menu-divider.png);
}

.main-overlay-light #rt-page-surround-inner
{
background-image: url(/imoveis/static/images/css/bottom-divider.png);
}

.main-overlay-light #rt-feature, .main-overlay-light #rt-bottom, .main-overlay-light .box3 .rt-block, .main-overlay-light .contentbox3, .main-overlay-light .title3 .title, .main-overlay-light #rt-subnavigation .menu li .item, .main-overlay-light #rt-subnavigation .menu li a, .main-overlay-light #rt-subnavigation .menu li .separator
{
text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.footerblock-overlay-light #rt-footer-overlay
{
background-image: url(/imoveis/static/images/css/footer-overlay.png);text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.footerblock-overlay-light #rt-copyright
{
background-image: url(/imoveis/static/images/css/copyright-overlay.png);text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.footerblock-overlay-light #rt-copyright2
{
background-image: url(/imoveis/static/images/css/footer-divider.png);
}

.footerblock-overlay-light #rt-footer .rt-grid-1, .footerblock-overlay-light #rt-footer .rt-grid-2, .footerblock-overlay-light #rt-footer .rt-grid-3, .footerblock-overlay-light #rt-footer .rt-grid-4, .footerblock-overlay-light #rt-footer .rt-grid-5, .footerblock-overlay-light #rt-footer .rt-grid-6, .footerblock-overlay-light #rt-footer .rt-grid-7, .footerblock-overlay-light #rt-footer .rt-grid-8, .footerblock-overlay-light #rt-footer .rt-grid-9, .footerblock-overlay-light #rt-footer .rt-grid-10, .footerblock-overlay-light #rt-footer .rt-grid-11
{
background-image: url(/imoveis/static/images/css/footer-divider2.png);
}

.topblock-overlay-light .readon span, .main-overlay-light .readon span, .logo-style-light .readon span, .footerblock-overlay-light .readon span, .topblock-overlay-light .readon .button, .main-overlay-light .readon .button, .logo-style-light .readon .button, .footerblock-overlay-light .readon .button
{
background-image: url(/imoveis/static/images/css/readon-bg.png);color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

#form-login ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a
{
background-image: url(/imoveis/static/images/css/sidemenu-arrows-overlay.png);
}

.footerblock-overlay-light #yottadigital
{
background: url(/imoveis/static/images/css/yotta-digital.png);
}

.topblock-overlay-dark .readon span, .main-overlay-dark .readon span, .logo-style-dark .readon span, .footerblock-overlay-dark .readon span, .topblock-overlay-dark .readon .button, .main-overlay-dark .readon .button, .logo-style-dark .readon .button, .footerblock-overlay-dark .readon .button
{
background-image: url(/imoveis/static/images/css/readon-bg.png);color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.logo-style-dark .title1 .title, .logo-style-dark .title1 .title span, .logo-style-dark #rt-container-bg .title1 .title span
{
color: #fff;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.logo-style-dark .title1 .module-title
{
background-image: url(/imoveis/static/images/css/module-title-bg.png);
}

#rt-container-bg a:hover
{
color: #333;
}

#rt-logo, .title1 .module-title, .title2 .module-title, .title3 .module-title, .title4 .module-title
{
box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

#rt-container-bg
{
background: #fff;box-shadow: 0 0 5px rgba(0,0,0,0.3);text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

#rt-header
{
background: #f7f7f7 url(/imoveis/static/images/css/header-overlay.png) 50% 100% repeat-x;
}

#rt-showcase
{
border-bottom: 1px solid #dbdbdb;
}

.box1 .rt-block, .contentbox1
{
border-color: #dbdbdb;
}

.box2 .rt-block, .contentbox2
{
border-color: #dbdbdb;background-color: #f7f7f7;text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.title2 .module-title, .title4 .module-title
{
background-image: url(/imoveis/static/images/css/module-title-bg.png);
}

.title1 .module-title .accent, .title2 .module-title .accent, .title3 .module-title .accent, .title4 .module-title .accent
{
background-image: url(/imoveis/static/images/css/module-title-accent.png);
}

.title2 .module-title
{
background-color: #ccc;
}

#rt-header #form-login .inputbox
{
background-image: url(/imoveis/static/images/css/dark-15.png);background-color: #f0f0f0;border-top: 1px solid #bbb;border-left: 1px solid #bbb;border-right: 1px solid #fff;border-bottom: 1px solid #fff;
}

#rt-header #form-login .inputbox:focus
{
background-color: #fff;
}

#rt-container-bg .rokradios, #rt-container-bg .rokchecks, #rt-container-bg .rokradios-active, #rt-container-bg .rokchecks-active
{
background-image: url(/imoveis/static/images/css/body-rokinputs.png);
}

.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2
{
border: 1px solid #dbdbdb;background-color: #f7f7f7;color: #666;
}

#form-login ul li a, #com-form-login ul li a, ul.rt-more-articles li a, .rt-section-list ul li a, ul.mostread li a, ul.latestnews li a, .weblinks ul li a, #rt-popup ul li a, #rt-popuplogin ul li a
{
background-image: url(../images/body/light/sidemenu-arrows.png);
}

ul.list-icon
{
padding: 0;margin: 0 0 15px 0;background: none;
}

ul.list-icon li
{
list-style: none;padding: 0 0 0 24px;margin: 0 0 5px 0;background-repeat: no-repeat;
}

ul.list-icon li a
{
font-size: 100%;line-height: 1.7em;
}

span.email, span.phone, span.quote, span.cart, span.rss, span.tags, span.write, span.info, span.sound, .email li, .phone li, .quote li, .cart li, .rss li, .tags li, .write li, .info li, .sound li
{
background-image: url(/imoveis/static/images/css/icon-set1.png);
}

.typography-style-light span.email, .typography-style-light span.phone, .typography-style-light span.quote, .typography-style-light span.cart, .typography-style-light span.rss, .typography-style-light span.tags, .typography-style-light span.write, .typography-style-light span.info, .typography-style-light span.sound, .typography-style-light .email li, .typography-style-light .phone li, .typography-style-light .quote li, .typography-style-light .cart li, .typography-style-light .rss li, .typography-style-light .tags li, .typography-style-light .write li, .typography-style-light .info li, .typography-style-light .sound li
{
background-image: url(/imoveis/static/images/css/icon-set1.png);
}


.text-icon.quote, .text-icon.circlearrow, .text-icon.skype, .quote li, .circlearrow li, .skype li
{
background-position: 0 -596px;
}

.text-icon.tags, .text-icon.person, .text-icon.movie, .tags li, .person li, .movie li
{
background-position: 0 -1496px;
}

.menutop li
{
height: auto;margin: 0;padding: 0;position: relative;list-style: none;
}

.menutop li .item, .menutop li.active .item
{
display: block;margin: 0;text-decoration: none;float: none;width: auto;
}

.menutop
{
list-style: none;margin: 0;padding: 0;position: relative;line-height: 1em;display: inline-block;
}

.menutop li
{
float: left;margin: 0 0 0 -1px;padding: 0 2px 0 0;background-position: 100% 0;background-repeat: repeat-y;
}

.menutop li .item
{
white-space: nowrap;display: block;font-size: 12px;z-index: 100;cursor: pointer;position: relative;padding: 0;margin: 0;outline: none;font-weight: bold;height: 40px;line-height: 40px;background-position: 50% 0;transition: background 0.2s linear;text-transform: uppercase;
}

.menutop li:first-child .item
{
border-radius: 0 0 0 4px;
}

.menutop li .item span
{
display: block;outline: none;padding: 0 20px;width: auto;
}

#rt-subnavigation
{
padding: 10px 0 5px 0;
}

html
{
margin-bottom: 1px;
}

body
{
height: 100%;margin-bottom: 1px;font-family: Helvetica,Arial,sans-serif;
}

a
{
font-weight: bold;transition: color 0.2s ease-out;
}

h1, h2, .module-title h2, h3, h4, h5
{
line-height: 1.1em;letter-spacing: inherit;
}

.rt-container, #rt-sidebar-a, #rt-sidebar-b, #rt-sidebar-c
{
background: transparent;
}

.rt-container
{
position: relative;
}

.rt-block
{
margin: 15px 0;
}

ul
{
list-style-image: none;
}

#rt-page-surround
{
overflow: hidden;position: relative;min-height: 100%;
}

#rt-header, #rt-showcase, #rt-feature, #rt-utility, #rt-maintop, #rt-mainbottom, #rt-content-top, #rt-content-bottom, #rt-bottom, #rt-footer, .rt-block
{
position: relative;
}

.font-family-camber .title, .font-family-camber .menutop li > .item, .font-family-camber .roktabs-links ul li span, .font-family-camber .readon, .font-family-camber .rt-date-feature, .font-family-camber #rt-accessibility .rt-desc, .font-family-camber .rt-date-feature span, .font-family-camber #rt-login-button .buttontext, .font-family-camber #rt-popup-button .buttontext, .font-family-camber #gantry-totop, .font-family-camber .rok-content-rotator h2, .font-family-camber .feature-block .feature-title, .font-family-camber .module-content ul.menu li a, .font-family-camber .module-content ul.menu li .separator, .font-family-camber .module-content ul.menu li .item, .font-family-camber .icon-title, .font-family-camber .roktabs h3
{
font-family: Ubuntu,Helvetica,Arial,sans-serif;
}

#rt-navigation
{
padding-bottom: 7px;
}

.rt-navigation-top
{
height: 6px;
}

.rt-navigation-bar
{
background-position: 50% 100%;background-repeat: repeat-x;border-radius: 0 0 4px 4px;
}

#rt-navigation .rt-fusionmenu, #rt-navigation .rt-splitmenu
{
margin: -21px -15px -15px -15px;
}

.rt-menubar
{
display: inline-block;position: relative;margin: 0;
}

.menu-block
{
margin: 0;padding: 15px 5px;
}

#rt-header
{
border-radius: 4px 4px 0 0;margin-bottom: 20px;
}

#rt-header .rt-block
{
margin: 10px 0;
}

#rt-logo
{
display: block;width: 227px;height: 130px;margin: 0;position: relative;z-index: 1000;border-radius: 1px 1px 3px 3px;background-position: 0 0;background-repeat: repeat;
}

#rt-header .logo-block
{
margin: -12px 0 -20px 0;padding: 0 15px;
}

#rt-feature-spacer
{
height: 60px;
}

#rt-container-bg
{
border-radius: 4px;
}

#rt-page-surround-inner
{
background-position: 50% 100%;background-repeat: repeat-x;margin-bottom: -4px;position: relative;z-index: 1;
}

#rt-footer-overlay
{
background-position: 50% 100%;background-repeat: repeat-x;
}

#rt-footer-surround a
{
text-shadow: none;
}

#rt-copyright2
{
background-position: 50% 0;background-repeat: repeat-x;
}

#rt-footer .rt-grid-4
{
width: 320px;
}

.rt-section-surround
{
display: table;border-collapse: separate;
}

.rt-row-surround
{
display: table-row;
}

#rt-footer .rt-grid-1, #rt-footer .rt-grid-2, #rt-footer .rt-grid-3, #rt-footer .rt-grid-4, #rt-footer .rt-grid-5, #rt-footer .rt-grid-6, #rt-footer .rt-grid-7, #rt-footer .rt-grid-8, #rt-footer .rt-grid-9, #rt-footer .rt-grid-10, #rt-footer .rt-grid-11
{
display: table-cell;float: none;vertical-align: top;background-position: 0 0;background-repeat: repeat-y;
}

#rt-footer .rt-block
{
padding: 20px 10px;margin: 10px;
}

#rt-footer .rt-alpha
{
background: none !important;
}

.module-title
{
margin-bottom: 20px;
}

.module-title .title
{
margin: 0;padding: 0;font-size: 160%;letter-spacing: normal;font-weight: normal;
}

.module-title .title span
{
font-weight: normal;
}

.box1 .rt-block, .box2 .rt-block, .box3 .rt-block, .box4 .rt-block
{
border-radius: 3px;border-width: 1px;border-style: solid;
}

.title1 .module-title, .title2 .module-title, .title3 .module-title, .title4 .module-title
{
margin: -23px 0 13px 0;padding: 15px 10px;position: relative;border-radius: 0 0 3px 3px;background-position: 50% 0;background-repeat: repeat-y;
}

.title1 .module-title .accent, .title2 .module-title .accent, .title3 .module-title .accent, .title4 .module-title .accent
{
width: 5px;height: 7px;position: absolute;top: 0;left: -5px;background-position: 0 0;background-repeat: no-repeat;
}

.readon
{
display: inline-block;margin: 0;padding: 1px 1px 0 1px;overflow: visible;border-radius: 4px;border:0;
}

.readon span, .readon .button
{
display: block;margin: 0;padding: 6px 10px;cursor: pointer;line-height: 14px;font-size: 13px;overflow: visible;font-weight: normal;position: relative;white-space: normal;background-color: transparent;border: none;border-radius: 4px;background-position: 50% 0;background-repeat: repeat-x;transition: background-position 0.3s linear;
}

.readon:hover span, .readon:hover .button
{
background-position: 50% -50px;
}

.readon:active
{
margin-top: 1px;margin-bottom: -1px;
}

.rokchecks, .rokradios
{
padding: 3px 0 3px 20px;line-height: 130%;cursor: pointer;
}

.rokchecks
{
background-position: 0 -344px;background-repeat: no-repeat;
}

.inputbox, #form-login .inputbox, #com-form-login .inputbox, #josForm .inputbox, .component-content .search_result .inputbox, .component-content .contact .inputbox, .component-content .user input#email, .component-content .user input#name, .component-content .user input#username, .component-content .user input#password, .component-content .user input#passwd, .component-content .user input#password2, #rokajaxsearch .inputbox
{
position: relative;z-index: 100;border-radius: 6px;transition: background-color 0.2s linear;
}

#developed-by
{
overflow: hidden;
}

#yottadigital
{
display: block;width: 118px;height: 16px;vertical-align: middle;margin: 0;float: right;
}

#rt-copyright .rt-block
{
margin: 0;padding: 10px 15px;
}

.copytext
{
padding: 0;margin: 0;font-size: 11px;line-height: 15px;display: block;text-align: left;
}

#rt-header #form-login, .horizontal #form-login
{
position: relative;
}

#rt-header #form-login-username, .horizontal #form-login-username
{
float: left;margin-right: 15px;
}

#rt-header #form-login .inputbox, .horizontal #form-login .inputbox
{
width: 149px;height: 16px;font-size: 10px;text-transform: lowercase;
}

#rt-header #form-login .readon, .horizontal #form-login .readon
{
position: absolute;top: 0;right: 0;
}

#rt-header #form-login-remember, .horizontal #form-login-remember
{
margin: 0;position: absolute;right: 0;top: 34px;font-size: 10px;
}

#rt-header #form-login ul, .horizontal #form-login ul
{
overflow: hidden;margin: 0;position: absolute;top: 30px;left: 0;
}

#rt-header #form-login ul li, .horizontal #form-login ul li
{
float: left;padding: 0;margin: 0;
}

#rt-header #form-login ul li a, .horizontal #form-login ul li a
{
padding: 0;margin: 0 10px 0 0;font-size: 10px;background: none !important;
}

#gantry-totop
{
padding: 2px 0;font-size: 110%;line-height: 110%;font-weight: normal;
}

body
{
text-rendering: optimizeSpeed;
}

.rt-section-surround
{
float: left;
}

.rokradios, .rokchecks
{
line-height: 140%;
}

.topblock-overlay-light .rt-navigation-top, .topblock-overlay-light .rt-navigation-bar
{
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

a, .roktabs-links ul li.active span
{
-moz-transition: color 0.2s ease-out;
}

.readon span, .readon .button
{
-moz-transition: background-position 0.2s linear;
}

.menutop li > .item
{
-moz-transition: background 0.1s linear;
}

.inputbox, .component-content .rt-article-icons .icon, .component-content .rt-article-icons ul li a, .roktabs-links ul li
{
-moz-transition: background-color 0.3s linear;
}


/*** typography.css ***/

 .contentbox1, .contentbox2, .contentbox3, .contentbox4 {padding: 15px;margin-bottom: 15px;border-radius: 3px;}blockquote {padding: 5px 0 0 35px;}blockquote p {padding: 0 35px 5px 0;font-size: 15px;}.blockquote, .typography-style-dark blockquote {background: url(/imoveis/static/images/css/quote-l.png) 0 0 no-repeat;}.typography-style-light blockquote {background: url(/imoveis/static/images/css/quote-l.png) 0 0 no-repeat;}.blockquote p, .typography-style-dark blockquote p {background: url(/imoveis/static/images/css/quote-r.png) 100% 100% no-repeat;}.typography-style-light blockquote p {background: url(/imoveis/static/images/css/quote-r.png) 100% 100% no-repeat;}blockquote.alignleft {width: 30%;float: left;margin: 25px 25px 25px 0;}blockquote.alignright {width: 30%;float: right;margin: 25px 0 25px 25px;}blockquote.alignleft p, blockquote.alignright p {background: none;padding: 0;}pre {overflow: auto;padding: 17px 15px;margin-bottom: 15px;font-size: 11px;line-height: 17px;cursor: text;}pre, .typography-style-dark pre {background: #222;border: 1px solid #333;}.typography-style-light pre {background: #fafafa;border: 1px solid #eaeaea;color: #555;}pre.lines, .typography-style-dark pre.lines {background: #151515 url(/imoveis/static/images/css/pre-lines.png) 50% 0;border: none;transition: background-color 0.3s linear;}pre.lines:hover, .typography-style-dark pre.lines:hover {background-color: #202020;}.typography-style-light pre.lines {background: #eaeaea url(/imoveis/static/images/css/pre-lines.png) 50% 0;border: none;color: #333;}em.italic {font-style: italic;font-weight: bold;}em.bold {font-size: 120%;font-weight: bold;line-height: 145%;font-style: normal;}em.bold2 {font-size: 135%;font-weight: bold;line-height: 120%;font-style: normal;}em.normal {font-style: normal;}em.nobold {font-weight: normal;}em.highlight {font-style: normal;padding: 2px 5px;border-radius: 4px;text-shadow: none;}em.highlight.white {background: #fff;color: #000;}.typography-style-light em.highlight.white {background: #ddd;color: #000;}em.highlight.black {background: #000;color: #fff;}em.highlight.green {background: #74924A;color: #fff;}em.highlight.yellow {background: #D69839;color: #fff;}em.highlight.blue {background: #488AAD;color: #fff;}em.highlight.red {background: #BD5151;color: #fff;}.rt-upper {text-transform: uppercase;}.rt-center {text-align: center;}.rt-justify {text-align: justify;}p.dropcap {overflow: hidden;}p.dropcap:first-letter {font-size: 300%;margin: 0 5px 0 0;line-height: 110%;float: left;display: inline-block;}p.dropcap2:first-letter, p.dropcap4:first-letter, p.dropcap6:first-letter {font-size: 30px;margin: 0 10px 10px 0;line-height: 30px;float: left;display: inline-block;border-radius: 30px;padding: 5px 10px;}p.dropcap3:first-letter, p.dropcap5:first-letter, p.dropcap7:first-letter{font-size: 30px;margin: 0 10px 10px 0;line-height: 30px;float: left;display: inline-block;padding: 4px 8px;}p.dropcap2:first-letter {background: #333;}.typography-style-light p.dropcap2:first-letter {background: #555;color: #fff;}p.dropcap3:first-letter {background: #333;border: 1px solid rgba(255,255,255,0.1);}.typography-style-light p.dropcap3:first-letter {background: #555;color: #fff;border: 1px solid #fff;}p.dropcap4:first-letter {background: #ddd;color: #555;}p.dropcap5:first-letter {background: #ddd;color: #555;border: 1px solid rgba(255,255,255,0.3);}span.inset-left {float: left;margin-right: 20px;}span.inset-right {float: right;margin-left: 20px;}span.inset-right-title, span.inset-left-title {display: block;font-size: 100%;font-weight: bold;}span.inset-left, span.inset-right {display: block;padding: 10px;width: 20%;font-size: 100%;font-style: italic;margin-top: 15px;position: relative;text-align: justify; margin-bottom: 15px;}ul.list-icon {padding: 0;margin: 0 0 15px 0;background: none;}ul.list-icon li {list-style: none;padding: 0 0 0 24px;margin: 0 0 5px 0;background-repeat: no-repeat;}ul.list-icon li a {font-size: 100%;line-height: 1.7em;}.text-icon {display: inline-block;line-height: 20px;font-size: 110%;background-repeat: no-repeat;padding-left: 24px;}span.email, span.phone, span.quote, span.cart, span.rss, span.tags, span.write, span.info, span.sound, .email li, .phone li, .quote li, .cart li, .rss li, .tags li, .write li, .info li, .sound li {background-image: url(/imoveis/static/images/css/icon-set1.png);}.typography-style-light span.email, .typography-style-light span.phone, .typography-style-light span.quote, .typography-style-light span.cart, .typography-style-light span.rss, .typography-style-light span.tags, .typography-style-light span.write, .typography-style-light span.info, .typography-style-light span.sound, .typography-style-light .email li, .typography-style-light .phone li, .typography-style-light .quote li, .typography-style-light .cart li, .typography-style-light .rss li, .typography-style-light .tags li, .typography-style-light .write li, .typography-style-light .info li, .typography-style-light .sound li {background-image: url(/imoveis/static/images/css/icon-set1.png);}span.rightarrow, span.leftarrow, span.circlearrow, span.downarrow, span.uparrow, span.person, span.calendar, span.doc, span.bulb, .rightarrow li, .leftarrow li, .circlearrow li, .downarrow li, .uparrow li, .person li, .calendar li, .doc li, .bulb li {background-image: url(/imoveis/static/images/css/icon-set2.png);}.typography-style-light span.rightarrow, .typography-style-light span.leftarrow, .typography-style-light span.circlearrow, .typography-style-light span.downarrow, .typography-style-light span.uparrow, .typography-style-light span.person, .typography-style-light span.calendar, .typography-style-light span.doc, .typography-style-light span.bulb, .typography-style-light .rightarrow li, .typography-style-light .leftarrow li, .typography-style-light .circlearrow li, .typography-style-light .downarrow li, .typography-style-light .uparrow li, .typography-style-light .person li, .typography-style-light .calendar li, .typography-style-light .doc li, .typography-style-light .bulb li {background-image: url(/imoveis/static/images/css/icon-set2.png);}span.twitter, span.youtube, span.skype, span.facebook, span.like, span.movie, span.dropbox, span.vimeo, span.paypal, .twitter li, .youtube li, .skype li, .facebook li, .like li, .movie li, .dropbox li, .vimeo li, .paypal li {background-image: url(/imoveis/static/images/css/icon-set3.png);}.typography-style-light span.twitter, .typography-style-light span.youtube, .typography-style-light span.skype, .typography-style-light span.facebook, .typography-style-light span.like, .typography-style-light span.movie, .typography-style-light span.dropbox, .typography-style-light span.vimeo, .typography-style-light span.paypal, .typography-style-light .twitter li, .typography-style-light .youtube li, .typography-style-light .skype li, .typography-style-light .facebook li, .typography-style-light .like li, .typography-style-light .movie li, .typography-style-light .dropbox li, .typography-style-light .vimeo li, .typography-style-light .paypal li {background-image: url(/imoveis/static/images/css/icon-set3.png);}.text-icon.email, .text-icon.rightarrow, .text-icon.twitter, .email li, .rightarrow li, .twitter li {background-position: 0 4px;}.text-icon.phone, .text-icon.leftarrow, .text-icon.youtube, .phone li, .leftarrow li, .youtube li {background-position: 0 -296px;}.text-icon.quote, .text-icon.circlearrow, .text-icon.skype, .quote li, .circlearrow li, .skype li {background-position: 0 -596px;}.text-icon.cart, .text-icon.downarrow, .text-icon.facebook, .cart li, .downarrow li, .facebook li {background-position: 0 -896px;}.text-icon.rss, .text-icon.uparrow, .text-icon.like, .rss li, .uparrow li, .like li {background-position: 0 -1196px;}.text-icon.tags, .text-icon.person, .text-icon.movie, .tags li, .person li, .movie li {background-position: 0 -1496px;}.text-icon.write, .text-icon.calendar, .text-icon.dropbox, .write li, .calendar li, .dropbox li {background-position: 0 -1796px;}.text-icon.info, .text-icon.doc, .text-icon.vimeo, .info li, .doc li, .vimeo li {background-position: 0 -2096px;}.text-icon.sound, .text-icon.bulb, .text-icon.paypal, .sound li, .bulb li, .paypal li {background-position: 0 -2396px;}ul.checkmark, ul.circle-checkmark, ul.square-checkmark, ul.circle-small, ul.circle, ul.circle-large, ul.triangle-small, ul.triangle, ul.triangle-large {margin: 0 0 25px 0;padding: 0;}ul.checkmark li, ul.circle-checkmark li, ul.square-checkmark li, ul.circle-small li, ul.circle li, ul.circle-large li, ul.triangle-small li, ul.triangle li, ul.triangle-large li {list-style-type: none;padding: 0 0 0 30px;position: relative;font-size: 120%;margin-bottom: 8px;}ul.checkmark li a, ul.circle-checkmark li a, ul.square-checkmark li a, ul.circle-small li a, ul.circle li a, ul.circle-large li a, ul.triangle-small li a, ul.triangle li a, ul.triangle-large li {font-size: 100%;line-height: 1.7em;}ul.checkmark li:after {content:"";display:block;width: 4px;height: 8px;border-color: #fff;border-style: solid;border-width: 0 3px 3px 0;position:absolute;left: 14px;top: 3px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);}ul.circle-checkmark li:before {content:"";display: block;border-color: #fff;border-style: solid;border-width: 9px;border-radius: 9px;height: 0;width: 0;position: absolute;left: 7px;top: 1px;}ul.circle-checkmark li:after {content:"";display:block;width: 3px;height: 6px;border-color: #000;border-width: 0 2px 2px 0;border-style: solid;position:absolute;left: 14px;top: 5px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);}.typography-style-light ul.circle-checkmark li:after {border-color: #fff;}ul.square-checkmark li:before {content:"";display: block;border-color: #fff;border-width: 7px;border-style: solid;height: 0;width: 0;position: absolute;left: 9px;top: 3px;}ul.square-checkmark li:after {content:"";display:block;width: 3px;height: 6px;border-color: #000;border-width: 0 2px 2px 0;border-style: solid;position:absolute;left: 14px;top: 9px;margin-top: -4px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);}.typography-style-light ul.square-checkmark li:after {border-color: #fff;}ul.triangle-small li:after {content:"";display:block;width: 0;height: 0;border-color: transparent transparent transparent #fff;border-style: solid;border-width: 3px;position:absolute;left: 18px;top: 7px;}ul.triangle li:after {content:"";display:block;width: 0;height: 0;border-color: transparent transparent transparent #fff;border-style: solid;border-width: 4px;position:absolute;left: 17px;top: 6px;}ul.triangle.green li:after {border-color: transparent transparent transparent #74924A;}ul.triangle.yellow li:after {border-color: transparent transparent transparent #D69839;}ul.triangle.red li:after {border-color: transparent transparent transparent #BD5151;}ul.triangle.blue li:after {border-color: transparent transparent transparent #488AAD;}ul.triangle.white li:after {border-color: transparent transparent transparent #fff;}.typography-style-light ul.triangle.white li:after {border-color: transparent transparent transparent #ddd;}ul.triangle.black li:after {border-color: transparent transparent transparent #000;}ul.triangle-large li:after {content:"";display:block;width: 0;height: 0;border-color: transparent transparent transparent #fff;border-style: solid;border-width: 6px;position:absolute;left: 15px;top: 4px;}ul.circle-small li:after {content:"";display:block;width: 0;height: 0;border-color: #fff;border-style: solid;border-width: 2px;border-radius: 2px;position:absolute;left: 16px;top: 8px;}ul.circle li:after {content:"";display:block;width: 0;height: 0;border-color: #fff;border-style: solid;border-width: 3px;border-radius: 3px;position:absolute;left: 15px;top: 7px;}ul.circle-large li:after {content:"";display:block;width: 0;height: 0;border-color: #fff;border-style: solid;border-width: 5px;border-radius: 5px;position:absolute;left: 12px;top: 5px;}ul.circle.green li:after, ul.checkmark.green li:after {border-color: #74924A;}ul.circle.yellow li:after, ul.checkmark.yellow li:after {border-color: #D69839;}ul.circle.red li:after, ul.checkmark.red li:after {border-color: #BD5151;}ul.circle.blue li:after, ul.checkmark.blue li:after {border-color: #488AAD;}ul.circle.white li:after, ul.checkmark.white li:after {border-color: #fff;}.typography-style-light ul.circle.white li:after, .typography-style-light ul.checkmark.white li:after {border-color: #ddd;}ul.circle.black li:after, ul.checkmark.black li:after {border-color: #000;}.approved, .attention, .alert, .notice {padding: 10px 10px 10px 45px;border-radius: 6px;font-weight: bold;background-position: 10px 50%;background-repeat: no-repeat;}#system-message dd ul {border-radius: 6px;background-repeat: no-repeat;background-position: 10px 50%;}.approved a, .attention a, .alert a, .notice a {color: #000 !important;text-decoration: underline;}.approved a:hover, .attention a:hover, .alert a:hover, .notice a:hover {color: #fff !important;text-shadow: none;}.approved {background-color: #74924A;background-image: url(/imoveis/static/images/css/approved.png);color: #232F12;text-shadow: 1px 1px 1px rgba(255,255,255,0.3);border-top: 1px solid rgba(255,255,255,0.3);}.attention, #system-message dd.notice ul {background-color: #D69839; background-image: url(/imoveis/static/images/css/attention.png);color: #5A3800;text-shadow: 1px 1px 1px rgba(255,255,255,0.3);border-top: 1px solid rgba(255,255,255,0.3);}.alert, #system-message dd.error ul {background-color: #BD5151; background-image: url(/imoveis/static/images/css/alert.png);color: #4C1818;text-shadow: 1px 1px 1px rgba(255,255,255,0.3);border-top: 1px solid rgba(255,255,255,0.3);}.notice, #system-message dd ul {background-color: #488AAD; background-image: url(/imoveis/static/images/css/notice.png);color: #133548;text-shadow: 1px 1px 1px rgba(255,255,255,0.3);border-top: 1px solid rgba(255,255,255,0.3);}


#rt-page-surround, .title3 .module-title, .box3 .rt-block, .contentbox3 {background-color:#CBD1D1;}
.box3 .rt-block, .contentbox3 {border-color:#CBD1D1;}
#rt-feature, #rt-bottom, #rt-feature a:hover, #rt-bottom a:hover, .box3 .rt-block, .contentbox3, .box3 .rt-block a:hover, .contentbox3 a:hover, .title3 .title, #rt-subnavigation .menu li .item, .readonstyle-link #rt-feature .readon:hover span, .readonstyle-link #rt-feature .readon:hover .button, .readonstyle-link #rt-bottom .readon:hover span, .readonstyle-link #rt-bottom .readon:hover .button {color:#5D6769;}
#rt-feature a, #rt-bottom a, #rt-subnavigation .menu li:hover .item, #rt-subnavigation .menu li.active .item, .readonstyle-link #rt-feature .readon span, .readonstyle-link #rt-feature .readon .button, .readonstyle-link #rt-bottom .readon span, .readonstyle-link #rt-bottom .readon .button, .box3 .rt-block a, .contentbox3 a {color:#2C8BA6;}
#rt-feature .readon, #rt-bottom .readon, #rt-feature .roktabs-wrapper .roktabs-links ul, #rt-feature .roktabs-wrapper .active-arrows, #rt-bottom .roktabs-wrapper .roktabs-links ul, #rt-bottom .roktabs-wrapper .active-arrows {background-color:#2C8BA6;}
#rt-top-surround, .rt-navigation-top, .rt-navigation-bar {background-color:#F1F3F2;}
#rt-top-surround, #rt-top, .menutop li > .item, .readonstyle-link #rt-top-surround .readon:hover span, .readonstyle-link #rt-top-surround .readon:hover .button, #rt-top-surround a:hover, #rt-top a:hover {color:#748082;}
#rt-top-surround a, #rt-top a, .menutop li.root.active > .item, .rt-splitmenu .menutop li.active > .item, .readonstyle-link #rt-top-surround .readon span, .readonstyle-link #rt-top-surround .readon .button {color:#2C8BA6;}
#rt-top-surround .readon, .fusion-submenu-wrapper, .menutop li.root:hover > .item, .menutop li.root.f-mainparent-itemfocus > .item, .rt-splitmenu .menutop li:hover .item, #rt-top-surround .roktabs-wrapper .roktabs-links ul, #rt-top-surround .roktabs-wrapper .active-arrows {background-color:#33A0BF;}
#rt-logo, #rt-container-bg .readon, .title1 .module-title, .rt-article-icons .icon, .rt-article-icons ul li a, .roktabs-wrapper .roktabs-links ul, .roktabs-wrapper .active-arrows, body .roknewspager-pages .roknewspager-numbers li {background-color:#2C8BA6;}
#rt-container-bg, #rt-showcase, #rt-header, .box2 .rt-block, .box4 .rt-block, #rt-showcase .roktabs-links ul li, .readonstyle-link #rt-container-bg .readon:hover span, .readonstyle-link #rt-container-bg .readon:hover .button {color:#5C6566;}
.rt-article-icons a:hover .print, .rt-article-icons a:hover .email, .rt-article-icons a:hover .pdf, .rt-article-icons .edit:hover, .rt-article-icons ul li a:hover {background-color:#5C6566;}
#rt-container-bg a, #rt-showcase a, #rt-header a, .box2 .rt-block a, .box4 .rt-block a, .roktabs-links ul li.active span, .readonstyle-link #rt-container-bg .readon span, .readonstyle-link #rt-container-bg .readon .button {color:#0B7291;}
#rt-container-bg .title span {color:#2C8BA6;}
body ul.checkmark li:after, body ul.circle-checkmark li:before, body ul.square-checkmark li:before, body ul.circle-small li:after, body ul.circle li:after, body ul.circle-large li:after {border-color:#2C8BA6;}
body ul.triangle-small li:after, body ul.triangle li:after, body ul.triangle-large li:after {border-left-color:#2C8BA6;}
body, #rt-footer-surround {background-color:#ACB0B1;}
#rt-footer-surround, #rt-footer, #rt-copyright, .readonstyle-link #rt-footer-surround .readon:hover span, .readonstyle-link #rt-footer-surround .readon:hover .button, #rt-footer-surround a:hover, #rt-footer a:hover, #rt-copyright a:hover {color:#505252;}
#rt-footer-surround a, #rt-footer a, #rt-copyright a, .readonstyle-link #rt-footer-surround .readon span, .readonstyle-link #rt-footer-surround .readon .button {color:#eee;}
#rt-footer-surround .readon, #rt-footer-surround .roktabs-wrapper .roktabs-links ul, #rt-footer-surround .roktabs-wrapper .active-arrows {background-color:#2C8BA6;}
body #rt-logo {width:227px;height:130px;}


/*

Css personalizado

*/


@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.rt-menubar ul li:hover a span {
    color: #CCF0F5;
}


.error { color: #ff0000; }
input.invalidinput {
    box-shadow: 0px 0px 2px #ff0000; 
    -webkit-box-shadow: 0px 0px 2px #ff0000; 
}

.box4 .rt-block, .contentbox4 {border-color: #dbdbdb;background-color: #eaeaea;text-shadow: 1px 1px 0 rgba(255,255,255,0.8);}.title2 .module-title, .title4 .module-title {background-image: url(/imoveis/static/images/css/module-title-bg.png);}


body .floatright {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}
