<div class='barra-de-filtros rt-container'>
	<div class='esquerda rt-grid-4'>
		<h6>Bairros próximos</h6>
		<ul>
            {{for local_proximo in local.locais_proximos():}}
			<li><a href='{{=local_proximo.url}}'>{{=local_proximo.nome}}</a></li>
            {{pass}}
		</ul>
	</div>

	<div class='centro rt-grid-4'>
		<h6>Outros Locais</h6>
        <ul>
            <li>
                <strong><a href='#'>Zona Sul</a></strong><br>
                (<a href='#'>copacabana</a>, <a href='#'>ipanema</a>, <a href='#'>botafogo</a>, <a href='#'>...</a>)
            </li>
            <li>
                <strong><a href='#'>Zona Oeste</a></strong><br>
                (<a href='#'>barra da tijuca</a>, <a href='#'>recreio</a>, <a href='#'>jacarepaguá</a>, <a href='#'>...</a>)
            </li>
            <li>
                <strong><a href='#'>Zona Norte</a></strong><br>
                (<a href='#'>méier</a>, <a href='#'>cachambi</a>, <a href='#'>tijuca</a>, <a href='#'>...</a>)
            </li>
        </ul>
	</div>

	<div class='direita rt-grid-4'>
		<h6>Filtrar Por</h6>
        <select>
            <option>Tipo de Imóvel</option>
        </select>
        <select>
            <option>Valor</option>
        </select>
	</div>

    <div class='expandir rt-grid-12'>
        <span>&rsaquo;</span>
    </div>
</div>
