{{left_sidebar_enabled,right_sidebar_enabled=False,False}}

{{response.files.append(URL('static','css/locais/barra-de-filtros.css'))}}
{{response.files.append(URL('static','css/locais/lista-de-imoveis.css'))}}


{{extend 'layout.html'}}

{{block breadcrumb}}{{if local.local_pai:}}{{=A(local.local_pai.nome,_href=local.local_pai.url)}} &rsaquo; {{pass}}{{=local.nome}}{{end}}

{{block barra-de-filtros}}
{{include 'locais/_barra_de_filtros.html'}}
{{end}}

<ul id='lista-de-imoveis' class='rt-container'>
{{for imovel in imoveis:}}
    <li class='rt-grid-3'>
        <a href='{{=imovel.url}}'>
            {{=IMG(_src=imovel.foto_principal.url_miniatura)}}
            {{=H6(A(imovel.titulo,_href=imovel.url))}}
            {{=P(imovel.localizacao)}}
            {{=P(imovel.preco_formatado)}}
        </a>
    </li>
{{pass}}
</ul>
