<div class="box1 title1">
    <div class="rt-block">
      <div class="module-title">
        <h2 class="title">
        <span>Imóveis</span>&nbsp;{{=imovel.local.nome_preposicao}}</h2>

        <div class="accent"></div>
      </div>

      <div class="module-content">
        <ul class="list-icon triangle">
          <li><a href="#">Casas</a></li>
          <li><a href="#">Apartamentos</a></li>
          <li><a href="#">Imóveis Comerciais</a></li>
          <li><a href="{{=imovel.local.url}}">Todos os imóveis&nbsp;&raquo;</a></li>
        </ul>

        <a class="readon" href="{{=imovel.local.url}}">
            <span>Mais imóveis</span>
        </a>

        <div class="clear"></div>
      </div>
    </div>
</div>

<div class="box2 title2">
    <div class="rt-block">
      <div class="module-title">
        <h2 class="title">
        <span>Outros</span> Bairros</h2>

        <div class="accent"></div>
      </div>

      <div class="module-content">
        <ul class="list-icon checkmark blue">
            {{for local in imovel.local.locais_proximos():}}
                <li>{{=A(local.nome, _href=local.url)}}</li>
            {{pass}}
        </ul>
        
        <div class="clear"></div>
      </div>
    </div>
</div>

<div class="box4">
    <div class="rt-block">
        <div class="module-title">
            <h2 class="title">
            <span>Entre</span> em contato</h2>
            <div class="accent"></div>
        </div>
        
        <div class="module-content">
            <p>Interessado no imóvel? <a href="{{=imovel.url_contato}}" rel="no-follow">Entre em contato com o proprietário clicando aqui.</a></p>
            
            <a class="readon" href="{{=imovel.url_contato}}">
                <span>Entrar em contato</span>
            </a>
            
            <div class="clear"></div>
        </div>
    </div>
</div>
