{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{block breadcrumb}}
    {{if imovel.local.local_pai:}}{{=A(imovel.local.local_pai.nome,_href=imovel.local.local_pai.url)}} &rsaquo; {{pass}}
    {{=A(imovel.local.nome,_href=imovel.local.url)}} &rsaquo; {{=imovel.titulo}}
{{end}}

<div class="module-title">
	<h3 class="title"><a href="#">
		<span>Descrição</span> do imóvel</a> 
		<a href="#" class="floatright"><span class="text-icon uparrow">&nbsp;</span></a>
	</h3>
</div>

{{=P(imovel.descricao)}}

<div class="module-title">
	<h3 class="title"><a href="#">
		<span>Todas</span> as fotos</a> 
		<a href="#" class="floatright"><span class="text-icon uparrow">&nbsp;</span></a>
	</h3>
</div>

{{ for foto in fotos:}}

	{{=P(IMG(_src=foto.get('url_miniatura')))}}

{{ pass }}

{{block right_sidebar}}

	{{include "imovel/barra-lateral.html"}}

{{end}}

<div class="module-title">
	<h3 class="title"><a href="#">
		<span>Condições</span> de Pagamento</a> 
		<a href="#" class="floatright"><span class="text-icon uparrow">&nbsp;</span></a>
	</h3>
</div>

{{=P("Valor: %s" % imovel.preco_formatado)}}

<p>
	<a class="readon" href="{{=imovel.url_contato}}">
		<span>Interessou? Entre em contato</span>
	</a>
</p>
