{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<p class="lead">
    Faça upload das fotos (Usando aquele upload JQuery)
</p>

<div class="row span12">
        <img src="http://placehold.it/160x96" class="img-polaroid">
        <img src="http://placehold.it/160x96" class="img-polaroid">
        <img src="http://placehold.it/160x96" class="img-polaroid">
        <img src="http://placehold.it/160x96" class="img-polaroid">
</div>

<p class="span12"></p>

<p>
    <a class="btn btn-sucess">&laquo; Voltar</a>
    <a class="btn btn-sucess pull-right">Concluir</a>
</p>
