{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<p class="lead">
    Digite os dados do imóvel abaixo: (Ainda ta faltando os campos)
</p>

<p>
    {{=form}}
</p>

<p>
    <a class="btn btn-sucess pull-right">Avançar &raquo; (Não está pronto, clica no submit)</a>
</p>
