{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<p class="lead">
    Marque abaixo as caraterísticas do imóvel:
</p>

<div class="row">
    <form method='post'>
        {{ for tag in ['Varanda','Árvores frutíferas','Piscina', 'Garagem', 'Sauna']*8: }}
            <div class="span2">
                <label class="checkbox inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> {{=tag}}
                </label>
            </div>
        {{ pass }}
    </form>
</div>

<p></p>

<p>
    <a class="btn btn-sucess">&laquo; Voltar</a>
    <a class="btn btn-sucess pull-right" href="../foto/">Avançar &raquo;</a>
</p>
