.barra-de-filtros li {
    font-size: 0.95em;
}

.barra-de-filtros .centro li {
    margin-bottom: 6px;
}

.barra-de-filtros a {
    color: #333;
}

.barra-de-filtros h6 {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 6px;
}

.barra-de-filtros .expandir {
    text-align: center;
    font-size: 2.8em;
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.8) 80%,rgba(240,240,240,.6) 40%);
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.8) 80%,rgba(240,240,240,.6) 40%);
    margin-top: 5px;
    margin-bottom: 10px;
}

.barra-de-filtros .expandir span {
    display: block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

